extends layout

block content
    h1 history
    p: a(href='/events') events
    div#history
        table.table
            - var prevDateString = ""
            each item in history
                //- If this item represents a day different than the
                //- previous day, then give the "tr" element a different
                //- class name so we can style it accordingly.
                - var dateString = item.timeDay + item.timeMonth + item.timeDate
                - var newDay = dateString != prevDateString
                - var newDayClass = newDay ? 'newDay' : '';
                - var scaledHeight = (parseInt(item.duration) / (24 * 60 * 60 * 1000)) * 1000;
                if newDay
                    - prevDateString = dateString
                tr(class=newDayClass, data-duration=item.duration, style='height:' + scaledHeight + 'px')
                    //- Either display "parent:child" or just "parent"
                    td #{item.name}

                    if newDay
                        td #{item.timeDay}, #{item.timeMonth} #{item.timeDate}
                    else
                        td
                    td #{item.timeHour}:#{item.timeMinute}:#{item.timeSecond} #{item.timeAmPm}
                    td #{item.durationString}
                    td.text-light #{item.start}
                    td
                        a.pseudo-form.pseudo-submit(
                            href='#',
                            data-formid=item.start,
                            data-action='/history/'+item.start,
                            data-method='delete') DELETE
