extends layout

block content
    h1: a(href='/events') events
    h1 history, see also <a href='/visualize/stack'>visualize/stack</a>
    div#history
        table.table
            - var prevDateString = ""
            each item in history
                //- If this item represents a day different than the
                //- previous day, then give the "tr" element a different
                //- class name so we can style it accordingly.
                - var dateString = item.start.day + item.start.month + item.start.date
                - var newDay = dateString != prevDateString
                - var newDayClass = newDay ? 'newDay' : '';
                if newDay
                    - prevDateString = dateString
                tr(class=newDayClass, data-duration=item.duration.milis)
                    //- Either display "parent:child" or just "parent"
                    td #{item.name}

                    if newDay
                        td #{item.start.day}, #{item.start.month} #{item.start.date}
                    else
                        td
                    td #{item.start.hour}:#{item.start.minute}:#{item.start.second} #{item.start.amPm}
                    td #{item.duration.humanized}
                    td.text-light #{item.start.millis}
                    td
                        a.pseudo-form.pseudo-submit(
                            href='#',
                            data-formid=item.start.millis,
                            data-action='/history/'+item.start.millis,
                            data-method='delete') DELETE
