extends layout

block content
    h1= title
    p: a(href='/history') history
    div#event-list

        form.form-inline(method='post', action='/events')
            fieldset
                input.input-small(name='name', type='text', placeholder='Name')
                input.input-small(name='subname', type='text', placeholder='Subname')
                button.btn.btn-primary(type='submit') Create

        table.table
            each item in events
                tr
                        td
                            //- Either display "parent:child" or just "parent"
                            - var fullName = item.subname ? item.name + ":" + item.subname : item.name
                            - var postData = "name=" + item.name;
                            - postData += "&subname=" + (item.subname ?  item.subname : "");
                            a.event.psuedo-form(href='#', data-action='/history', data-method='post', data-postData=postData) #{fullName}
                        td
                            input(type='text', placeholder='0')
                            select
                                option(value='seconds') seconds
                                option(value='minutes') minutes
                                option(value='hours') hours
                                option(value='days') days
                        td
                            a.event-delete(
                                href='#',
                                data-name=item.name,
                                data-subname=item.subname,
                                data-fullName=fullName) DELETE
