extends layout

block content
    h1= title
    p: a(href='/history') history
    div#event-list
        form(method='post', action='/events')
            input(name='name', type='text')
            input(name='subname', type='text')
            input(type='submit', value='Create')
        each item in events
            //- Either display "parent:child" or just "parent"
            - var fullName = item.subname ? item.name + ":" + item.subname : item.name
            a.event-list.event.event-name(href='#', data-name=item.name, data-subname=item.subname) #{fullName}
            a.event-list.event-delete(
                href='#',
                data-name=item.name,
                data-subname=item.subname,
                data-fullName=fullName) DELETE
