extends layout

block content
    h1= title
    p: a(href='/history') history
    div#event-list

        form.form-inline(method='post', action='/events')
            fieldset
                input.input(name='name', type='text', placeholder='Name')
                button.btn.btn-primary(type='submit') Create

        table.table
            each item in events
                tr
                        td
                            a.event.pseudo-form.pseudo-submit(
                                href='#',
                                data-formid=item.name,
                                data-action='/history',
                                data-method='post') #{item.name}

                            input.pseudo-form(
                                data-formid=item.name,
                                type='hidden',
                                name='name',
                                value=item.name)
                        td
                            input.pseudo-form(
                                data-formid=item.name,
                                name='offset',
                                type='text',
                                placeholder='0')
                            select.pseudo-form(name='offsetunits', data-formid=item.name)
                                option(value='seconds') seconds
                                option(value='minutes') minutes
                                option(value='hours') hours
                                option(value='days') days
                        td
                            a.event-delete(
                                href='#',
                                data-name=item.name) DELETE
