extends layout

block content
    h1= title
    p: a(href='/history') history
    div#event-list

        form.form-inline(method='post', action='/events')
            fieldset
                input(name='name', type='text', placeholder='Name')
                input(name='subname', type='text', placeholder='Subname')
                button.btn(type='submit') Create

        table.table
            each item in events
                tr
                    td
                        //- Either display "parent:child" or just "parent"
                        - var fullName = item.subname ? item.name + ":" + item.subname : item.name
                        a.event(href='#', data-name=item.name, data-subname=item.subname) #{fullName}
                    td
                        a.event-delete(
                            href='#',
                            data-name=item.name,
                            data-subname=item.subname,
                            data-fullName=fullName) DELETE
