extends layout

block content
    h1= title
    p: a(href='/history') history
    div#event-list
        form(method='post', action='/events')
            input(name='name', type='text', value='Name')
            input(name='subname', type='text', value='Subname')
            input(type='submit', value='Create')

        table.table
            each item in events
                tr
                    td
                        //- Either display "parent:child" or just "parent"
                        - var fullName = item.subname ? item.name + ":" + item.subname : item.name
                        a.event(href='#', data-name=item.name, data-subname=item.subname) #{fullName}
                    td
                        a.event-delete(
                            href='#',
                            data-name=item.name,
                            data-subname=item.subname,
                            data-fullName=fullName) DELETE
