extends layout
block content

    div#visualize-stack
        - var prevDateString = ""
        div.left-column(style="float:left; width:50%; display:block")
            each item in history
                - var scale;
                - if (item.duration.millis) {
                    - scale = parseInt(item.duration.millis) / (24 * 60 * 60 * 1000);
                - } else {
                    - scale = (Date.now() - item.start.millis) / (24 * 60 * 60 * 1000);
                - }
                - var scaledHeight = scale * 1000;
                - var isEmpty = item.name == 'stop' || item.name == 'not:previous'? true : false;
                    if isEmpty
                        div.stack-block.empty(
                            data-name=item.name,
                            style='height:' + scaledHeight + 'px')
                    else
                        div.stack-block(
                            data-name=item.name,
                            style='height:' + scaledHeight + 'px')

        div.right-column(style="float:left; width:48%; padding:0 1%; display:block")
            each item in history
                - var scale;
                - if (item.duration.millis) {
                    - scale = parseInt(item.duration.millis) / (24 * 60 * 60 * 1000);
                - } else {
                    - scale = (Date.now() - item.start.millis) / (24 * 60 * 60 * 1000);
                - }
                - var scaledHeight = scale * 1000;
                - var isEmpty = item.name == 'stop' || item.name == 'not:previous'? true : false;
                - var scaledFontSize = scale * 720;
                //- var fontSize = Math.max(scaledFontSize, 14); // Use at least 14px font size.
                if isEmpty
                    div.stack-text(data-name=item.name, style='height:' + scaledHeight + 'px')
                else
                    div.stack-text(
                        data-name=item.name,
                        style='font-size:' + scaledFontSize + 'px ; height:' + scaledHeight + 'px') #{item.name}
