extends layout
block content

    h1(style='color:#aaa') tokens

    form.form-horizontal(method='POST', action='/tokens')
        .control-group
            label.control-label List of URLs
            .controls
                textarea.input-xxlarge(name='urls', rows='10', placeholder='List of relative URLs')

        .control-group
            label.control-label Lifespan
            .controls
                input.input-xxlarge(name='ttl', type='text', placeholder='Lifespan')

        .control-group
            label.control-label Units
            .controls
                select.select(name='ttlunits')
                    option(value='seconds') seconds
                    option(value='minutes') minutes
                    option(value='hours') hours
                    option(value='days') days

        .control-group
            .controls
                input.btn-primary.btn(type='submit', value='New Token')
        
    table.table
        thead
            tr
                th Token
                th Locations
                th Action
        tbody
            each urlList, token in allTokenSets
                tr
                    td(style='font-family:"Monospace",monospace')= token
                    td
                        each item in urlList
                            //- I know, this isn't ideal hardcoding the protocol, host,
                            //- and port like this.
                            a(href='http://andrewhallagan.com:4000' + item) #{item}
                            br
                    td
                        a.pseudo-form.pseudo-submit(
                            href='#',
                            style='font-size:14px',
                            data-formid=token
                            data-action='/tokens/' + token,
                            data-method='delete') DELETE
